@use "../style/variables.scss" as *;

.comingSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  color:$second-accent ;
  font-family: $font-avenir;

  h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
    font-weight: 700;

  }

  h2{
    font-size: 20px;
  }
}
