

$primary-color: #39CDCC;
$accent-color: #213F7D;
$status-inactive: #545F7D;
$status-active: #39CD62;
$status-pending: #E9B200;
$status-blacklist: #E4033B;
$second-accent: #545F7D;
$border-color: #545F7D26;


$font-avenir: 'Avenir', sans-serif;
$font-work-sans: var(--font-work-sans), sans-serif; 