@use "../style/variables.scss" as *;

.menu {
  background: white;
  z-index: 100;
  width: 180px;
  border: 1px solid #545F7D24;
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px 0;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: $font-work-sans;
  font-size: 14px;
  color: $second-accent;

  &:hover {
    background-color: #f5f5f5;
  }

  span {
    white-space: nowrap;
  }
}
