@use "../style/variables.scss" as *;


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0px 0px 10px 1px $border-color;

    .search{
        display: flex;
        align-items: center;
        width: 344px;
        height: 40px;
        
        input{
            height: 36px;
            width: inherit;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: none;
            border: 1px solid $border-color;
            padding-left: 10px;
            color: $second-accent;
            letter-spacing: 0px;
            font-size: 14px;
        }
        .search_icon{
            background-color: $primary-color;
            width: 56px;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            cursor: pointer;
        }
    }

    .last_nav_items{
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            color: $accent-color;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0px;
        }
    }

    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        span{
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 100%;
            font-weight: 500;
            color: $accent-color;
            font-family: $font-work-sans
        }
    }
    .avatar_image{
        border-radius: 100%;
    }
}

