@use "../style/variables.scss" as *;


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px $border-color;

    .logo {
        img {
            width: 140px;
            height: 30px;
        }
    }

    .search{
        display: flex;
        align-items: center;
        width: 300px;
        height: 36px;
        
        input{
            height: 36px;
            width: inherit;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: none;
            border: 1px solid $border-color;
            padding-left: 10px;
            color: $second-accent;
            letter-spacing: 0px;
            font-size: 14px;
            
            &:focus,
            &:focus-visible,
            &:focus-within {
                outline: none;
                // border-color: transparent;
            }
        }
        .clear_search{
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0 8px;
            color: $second-accent;
            &:hover {
                color: $primary-color;
            }
        }
        .search_icon{
            background-color: $primary-color;
            width: 56px;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            cursor: pointer;
        }
    }

    .last_nav_items{
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            color: $accent-color;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0px;
        }

        .docs {
            display: block;
        }

        .notification {
            display: block;
        }
    }

    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        span{
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 100%;
            font-weight: 500;
            color: $accent-color;
            font-family: $font-work-sans
        }
    }
    .avatar_image{
        border-radius: 100%;
    }
}

@media (max-width: 770px) {
    .navbar {
        padding: 20px;

        .logo {
            img {
                width: 120px;
                height: auto;
            }
        }

        .search {
            input{
                width: 150px;
                height: 36.5px;
                
            }
        }
        .search_icon{
            width: 70px;
        }

        .last_nav_items {
            .docs {
                display: none;
            }

            .notification {
                display: none;
            }
        }
    }
}

@media screen and (width <= 490px){
    .navbar{

        .search{
            input{
                display: none;
            }
            .search_icon{display: none;}
        }
        
    }   
}