@use "../style/variables.scss" as *;

.sidebar{
    width: 283px;
    // height: 100vh;
    transition: width 0.3s ease-in-out ;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;      
    -ms-overflow-style: none;  
    position: relative;
    box-shadow: 3px 5px 20px 0px #0000000A;
}
.sidebar::-webkit-scrollbar {
  display: none;              
}




.collapsed{
    width: 52px;
    
}
.toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px 0px #555;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;

    &:hover{
        transform:scale(0.9);
    }

    img {
        transition: transform 0.3s ease;
    }
}

.collapsed .toggle img {
    transform: rotate(180deg);
}


.nav_items{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: flex-start;
    

  
}

.each_item{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 10px 30px ;

    &:hover,
    &.active {
        background-color: rgba(57, 205, 204, 0.1);
        border-left: 2px solid $primary-color;
    }
    
    span{
        color: $accent-color;
        font-family: $font-work-sans;
        letter-spacing: 0%;
        font-size: 16px;
        opacity: 1;
        white-space: nowrap;
        transform: translateX(0);
        transition: opacity 0.3s ease, transform 0.3s ease;

    }


}

.collapsed .each_item span{
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none;
    
    }

    .switch{
        display: flex;
        align-items: center;
        gap: 10px;
        color: $accent-color;
        font-family: $font-work-sans;
        padding: 40px 30px ;
        padding-top: 50px;
    }

    .side_headings{
        color: $accent-color;
        font-family: $font-work-sans;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0px;
        margin-top: 40px;
        padding-left: 30px;
        line-height: 100%;
        text-transform: uppercase;
    }

    @media (max-width: 800px) {
        .sidebar:not(.collapsed) {
            width: 400px;
        }

        .sidebar.collapsed {
            width: 100px;
        }

        .sidebar.collapsed .switch {
            padding: 40px 10px;
            justify-content: center;
        }

        .sidebar.collapsed .switch span,
        .sidebar.collapsed .side_headings,
        .sidebar.collapsed .each_item span {
            opacity: 0;
            transform: translateX(-20px);
            pointer-events: none;
        }

        .sidebar.collapsed .each_item {
            padding: 10px;
            justify-content: center;
        }

        .sidebar:not(.collapsed) .toggle {
            right: 10px;
        }

        .sidebar.collapsed .toggle {
            right: 5px;
        }
    }